.sy-component--text-2 {
  @include global-padding();
  .title {
    font-size: 14px;
  }
  .quote {
    border-left: 0;
    font-size: 22px;
    line-height: 33px;
    margin: 0;
    padding: 0 0 60px;
  }
}